:root {
    font-weight: 400;
    font-family: 'Helvetica', 'Arial', sans-serif;

    --accent-color: #e50815;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
